// @import "./variable";
@use 'variable' as var;

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  // visibility: hidden;
  box-shadow: 0 0 0 rgba(241, 241, 241, 0)
}

.emoji-popup {
  position: absolute;
  z-index: 1000;
  bottom: 9%;
}

.emoji-picker {
  // @extend .popup;
  animation: fadeIn linear 0.3s;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  // z-index: 100;
  background-color: var.$whatsapp-sidebar-bg;
  color: #fff;
  // text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0%;
  margin-left: 0.5vw;
  // @media (max-width: 768px){
  //           // width:100px;
  //           margin-left: 2vw;
  //       }
  // @media (max-width: 600px){
  //           // width:100px;
  //           margin-left: 1vw;
  //       }

  .popuptext-list {
    font-size: small;
    display: flex;
    width: 100%;
    align-items: center;
    background: none;
    border: none;
    color: var.$whatsapp-text-secondary;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var.$whatsapp-hover;
      color: var.$whatsapp-text-primary;
      // transform: scale(1.05);
    }

    span {
      margin-left: 5px;
      font-size: small;
    }
  }
}


// .popup .popuptext::after {
//   content: "";
//   position: absolute;
//   top: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 5px;
//   border-style: solid;
//   border-color: #555 transparent transparent transparent;
// }

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  // -webkit-animation: fadeIn 0.3s;
  animation: fadeIn linear 0.3s
}

/* Add animation (fade in the popup) */
// @-webkit-keyframes fadeIn {
//   from {opacity: 0;
//            transform: translateY(100%)}
//   to {opacity: 1;
//      transform: translateY(0%)}
// }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100%)
  }

  to {
    opacity: 1;
    transform: translateY(0%)
  }
}

.profile {
  color: white;
}

* {
  transition: background-color 0.2s ease, color 0.2s ease, transform 0.2s ease;
}

/* animation */

@keyframes anvil {

  // 0% {
  //   transform: scale(0) translateY(-200%) ;
  //   opacity: 0;
  //   box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  // }
  // 50% {
  //   transform: scale(0.5) translateY(-50%) ;
  //   opacity: 0.5;
  //   box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  // }
  // 100% {
  //   transform: scale(1) translateY(0) ;
  //   opacity: 1;
  //   box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  // }
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.popup-content {
  animation: anvil 0.3s ease-in-out forwards;
}

.whatsapp-profile-popup {
  display: flex;
  height: 75vh;
  width: 60vw;
  background: var.$whatsapp-input-bg;
  color: #e9edef;
  border-radius: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  //  .submit-btn,.cancel-btn{
  //     background-color: var.$whatsapp-input-bg;
  //     color: var.$whatsapp-text-primary;
  //     border: 1px solid rgb(150, 148, 148,0.5) ;
  //     padding: 2px;
  //     margin: 3px;
  //     cursor: pointer;
  //      &:hover {
  //         background: var.$whatsapp-hover;
  //         border: 1px solid white;
  //       }

  //       &.active {
  //         background: var.$whatsapp-active;
  //         font-weight: bold;
  //       }
  //   }
   .submit-btn,.cancel-btn{
    gap: 10px;
    border: 1px solid var.$whatsapp-border;
    border-radius: 2px;
    margin-left: 15%;
   }

  .popup-sidebar {
    width: 20vw;
    background: var.$whatsapp-input-bg;
    padding: 15px 0;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        padding: 12px 20px;
        font-size: 15px;
        cursor: pointer;
        color: #d1d7db;

        @media (max-width: 600px) {
          // width:100px;
          padding: 6px 10px;
          font-size: 10px;
        }

        &:hover {
          background: var.$whatsapp-hover;
        }

        &.active {
          background: var.$whatsapp-active;
          font-weight: bold;
        }
      }
    }
  }


  .profile-content {
    flex: 1;
    padding: 20px;
    width: 42vw;
    overflow-y: auto;
    position: relative;
    background-color: var.$whatsapp-hover;

    input,
    textarea {
      border: none;
      background-color: var.$whatsapp-input-bg;
      color: var.$whatsapp-text-primary;
      border: 1px solid var.$whatsapp-border;
      resize: none;
      -moz-appearance: textfield;
      -webkit-appearance: none;
      appearance: none;

      &:hover {
        background-color: var.$whatsapp-hover;
      }
    }
   
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      background: none;
      border: none;
      font-size: 22px;
      color: #d1d7db;
      cursor: pointer;
    }

    .profile-header {
      text-align: center;
      margin-bottom: 20px;
      position: relative;

      .profile-avatar {
        color: var.$whatsapp-text-primary;
        font-size: 100px;
        margin-bottom: 10px;

        @media (max-width: 600px) {
          font-size: 60px;
        }
      }

      .edit-icon {
        position: absolute;
        top: 20px;
        right: 20px;
        color: #d1d7db;
        cursor: pointer;

        @media (max-width: 600px) {
          // width:100px;
          right: 0;
        }
      }

      h2 {
        margin: 0;
        font-size: 20px;

        @media (max-width: 600px) and (max-width: 768px) {
          font-size: 12px;
        }
      }

      .nickname {
        font-size: 14px;
        color: #8696a0;

        @media (max-width: 600px) {
          font-size: 8px;
        }
      }
    }

    .profile-details {
      p {
        margin: 8px 0;
        font-size: 14px;

        @media (max-width: 600px) {
          font-size: 10px;
        }
      }

      strong {
        display: block;
        margin-top: 15px;
        margin-bottom: 3px;
        color: #d1d7db;
      }

      .light {
        color: #8696a0;
        font-size: 13px;
        white-space: pre-wrap;
        // max-width: fit-content;

        @media (max-width: 600px) {
          font-size: 10px;
        }
      }

      button {
        margin-bottom: 30px;
      }
    }
  }
}

@keyframes uptodown {
  from {
    opacity: 0;
    transform: translateY(100%)
  }

  to {
    opacity: 1;
    transform: translateY(0%)
  }
}

.form-popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}


.form-container {
  background: var.$whatsapp-input-bg;
  color: var.$whatsapp-text-primary;
  padding: 20px 25px;
  border-radius: 12px;
  width: 320px;
  // width: 100%;
  box-shadow: 0 8px 20px rgba(99, 99, 99, 0.25);
  display: flex;
  flex-direction: column;
  gap: 12px;
  animation: popupFade 0.3s ease-in-out;

  input {
    padding: 10px;
    // width: 100%;
    color: var.$whatsapp-text-primary;
    background-color: var.$whatsapp-input-bg;
    border: 1px solid var.$whatsapp-text-muted;
    border-radius: 8px;
    font-size: 14px;
    outline: none;

    &:hover {
      background-color: var.$whatsapp-hover;
    }

    &:focus {
      border-color: #1db954;
      color: var.$whatsapp-text-primary;
      background-color: var.$whatsapp-hover;
      box-shadow: 0 0 5px #005C4B;
    }
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
  }

  button[type="submit"] {
    background: #1db954;
    color: var.$whatsapp-text-primary;

    &:hover {
      background: #005C4B;
    }
  }

  button[type="button"] {
    background: #ddd;

    :hover {
      background: #bbb;
    }
  }

}



@keyframes popupFade {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.menu {
  width: 200px;
  display: flex;
  position: absolute;
  animation: anvil linear 0.3s;
  box-shadow: 0 4px 4px rgba(99, 99, 99, 0.1);
  background-color: var.$whatsapp-sidebar-bg;
  color: #fff;
  z-index: 1000;
  right: 0;
  top: 20%;
  margin-top: 53px;
  // margin-right: 200px;
  flex-direction: column;
  // background: #ffffff;

  .menu-item {
    font-size: small;
    cursor: pointer;
    background: none;
    color: var.$whatsapp-text-secondary;
    padding: 5px;
    // padding-top: 10px;.
    padding-bottom: 2px;
    align-items: center;
    height: 28px;
    padding-left: 10px;
    transition: all 0.2s ease;
    border-radius: 4px;

    // border-bottom: 1px solid rgb(187, 187, 187);
    &:hover {
      background-color: var.$whatsapp-hover;
      color: var.$whatsapp-text-primary;
      // transform: scale(1.05);
    }
  }
}